
.show-success{
  display: block;
  color: green;
  font-size: 1.2rem;
  border: solid 1px gray;
  width: 400px;
  margin: 10px auto;
}
.hide-success{
  display: none;
}
.form-container{
  margin-top: 30px;
}
